{{define "content"}}
<div class="l-master">
  {{ template "artist" .Artist }}
</div>
<div class="l-detail">
  {{ template "album" .Album }}
</div>
{{ end }}

{{define "page-title"}}{{.Album.Title}}{{end}}
