{{define "content"}}
<div class="master">
  {{ template "artist-list" .MusicArc.Artists.List }}
</div>
<div class="detail">
  {{ template "artist" .Artist }}
</div>
{{ end }}

{{define "page-title"}}{{.Artist.Name}}{{end}}
