{{define "content"}}
<div class="l-master">
  {{ template "artists-list" .MusicArc.Artists.List }}
</div>
<div class="l-detail">
  {{ template "artist" .Artist }}
</div>
{{ end }}

{{define "page-title"}}{{.Artist.Name}}{{end}}
