<!DOCTYPE html>
<html lang="it">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MusicArc: {{ template "page-title" . }}</title>
<link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>
{{ template "header" . }}
<main class="l-content">
{{ template "content" . }}
</main>
{{ template "footer" . }}{{ template "browser-sync" . }}
</body>
</html>

{{define "header"}}
<header class="l-header">
  <menu>
    <a href="/artists/">Artists</a> | <a href="/albums/">Albums</a> | <a href="/playlists/">Playlists</a>
  </menu>
</header>
{{end}}

{{define "footer"}}
<footer class="l-footer"><b>mm</b>bros &copy; 2016</footer>
{{end}}

{{define "browser-sync"}}
<script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.11.0.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
{{end}}

{{define "page-title"}}{{end}}
