// ***************************************************************
// .artist-list
//   &__nav
//   &__list
//   &__letter
// ***************************************************************

$delta: 1.5rem;

.artist-list {
  border: 1px solid $debug-2;
  padding: 0;
  margin:0;
  width: 300px;

  h3 {
    padding: 0;
    margin:0;
//    background-color: $debug-0;
  }

  &__nav {
    padding: 0;
    margin:0;
    font-size: 80%;

//    background-color: $debug-1;
    display: block;
    list-style-type: none;
    li {
      display: inline-block;
      width: 1.5em;
    }
    a {
//      border: 1px solid transparent;
      border-radius: 2px;
      margin-bottom: 2px;
      display: block;
      color: $textcolor;
      text-decoration: none;
      text-align: center;

      &:hover, &:active {
        color: $textcolor;
        background-color: gold;
        text-decoration: none;
      }

    }
  }

  &__list {
    padding: 0 0 0 $delta;
    margin:0;

    list-style-type: none;
    height: 500px;
    overflow-y: scroll;

    small {
      padding-left: .5rem;
      color: $hicolor;
    }
  }

  &__letter {
    color: gold;
    font-size: 150%;
    position: relative;
    left: -$delta;
    font-weight: bold;
  }

}
