$color-text:  black;
$color-back:  lightblue;
$color-title: white;

$color-text-back:  mix($color-text, $color-back);
$color-title-back: mix($color-title, $color-back);


$container-border-width: 4px;
$container-border-radius: 6px;
$container-padding: 4px;
