@import 'variables';
@import 'artist-list';

// ***************************************************************
// common
// ***************************************************************

body {
  background-color: $backcolor;
  color: $textcolor;
  font-family: verdana,tahoma,sans-serif;
  margin: 0;
  padding: 0 50px;
}

a {
  color: $textcolor;
  text-decoration: none;

  &:hover, &:active {
    color: $hicolor;
    text-decoration: underline;
  }
}

.l-header {
  background-color: gray;
}


// ***************************************************************
// album
// ***************************************************************

.album-images img {
  height: 128px;
  width: 128px;
}
